body {
    font-family: Roboto, 'Open Sans', sans-serif;
}

.header {
    background-color: #1F2937;

}

h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.subtext,
.hero-image {
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: white;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.box {
    border: 3px solid #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.info .text,
.quote-section .text {
    color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote-section .text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}