body {
    font-family: Roboto, 'Open Sans', sans-serif;
}

.header {
    background-color: #1F2937;

}

h1 {
    font-size: 48px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: white;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}