* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, 'Open Sans', sans-serif;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-image {
    min-width: 500px;
    background-color: #6a737c;
}

a,
.hero p,
.hero-image,
button,
.footer {
    font-size: 18px;
    color: #E5E7EB;
}

.hero p {
    margin: 5px 0 10px;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.info .box {
    border: 3px solid #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.quote {
    background-color: #E5E7EB;
}

.quote .text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

button,
.call-to-action .box {
    background-color: #3882F6;
    color: #E5E7EB;
}

button {
    font-weight: bold;
    padding: 8px 35px;
    border-radius: 10px;
    border: none;
}

/* flex */

.header {
    /* display: flex;
    flex-direction: column; */
    padding: 15px 220px 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

ul {
    margin: 0;
    display: flex;
    gap: 20px;
}

.hero {
    display: flex;
    margin-top: 100px;
    gap: 20px;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 50px 0px 100px;
}

.information .container {
    display: flex;
    margin: 0 300px;
}

.information .text {
    padding: 5px 25px;
}

.quote {
    padding: 100px 300px;

}

.quote p {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

.call-to-action .box {
    /* width: 800px; */
    border: 3px solid #3882F6;
    border-radius: 15px;
    /* padding: px; */

    margin: 100px 300px;
    display: flex;
    justify-content: space-evenly;
}

.call-to-action .container {
    margin: 30px;
}

.main-text {
    font-size: 18px;
    font-weight: bold;

}

.call-to-action button {
    /* height: 35px; */
    border: 2px solid white;
    align-self: center;
}